.mainlog {
  width: 80%;
  height: 90vh;
  overflow: hidden;
  margin: 0 auto;
}

.table-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

thead th {
  background-color: #4e6b31;
  color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 3;
}

.headtr {
  background-color: #4e6b31;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
  text-align: center;
}

tbody tr:nth-child(even) td {
  background-color: #e3e3e3;
}

tbody tr:nth-child(odd) td {
  background-color: white;
}

tbody tr:hover td {
  background-color: #b59958;
}

.ceoNameS {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filters-cont {
  width: 100%;
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: right;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-input-conts {
  font-weight: bold;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filtersForm {
  direction: rtl;
}

label {
  font-weight: bold;
  color: #4e6b31;
}

.logs_not_cell {
  background-color: #b59958;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 220px;
}

.nav-link-btn {
  font-weight: bold;
  cursor: pointer;
  background-color: #4e6b31;
  color: #fff;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  transition: all 0.4s ease-in-out, transform 0.2s ease;
  margin: 10px auto;
  text-align: center;
  display: block;
  line-height: 50px;
}

.nav-link-btn.show-hide-btn {
  width: 30%;
}

.nav-link-btn:hover {
  background-color: #b59958;
  transform: translateY(-2px);
}

#date,
#month,
#year,
#yearOnly {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  color: #4e6b31;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

#date:focus,
#month:focus,
#year:focus,
#yearOnly:focus {
  border-color: #4e6b31;
  outline: none;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  color: #4e6b31;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #4e6b31;
  outline: none;
}

.pagination-container {
  text-align: center;
  margin: 20px 0;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #4e6b31;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #4e6b31;
  border-radius: 4px;
  margin: 0 2px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
  background-color: #4e6b31;
  color: #fff;
}

.pagination .current {
  color: #fff;
  background-color: #4e6b31;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 2px;
}

.filtersMain {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.filtersMain.show {
  display: block;
  opacity: 1;
}
