.fine-incont-flex {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: bold;
}

.main-fin {
  margin: 0 auto !important;
}

.fine-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 5px;
  display: block;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.input-file {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.input-date,
.input-time,
.input-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.submit-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4e6b31;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out, transform 0.2s ease;
  font-size: 1em;
}

.submit-btn:hover {
  background-color: #b59958;
  transform: translateY(-2px);
}

.fine-details-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.fine-details {
  margin-bottom: 20px;
}

.fine-details p {
  margin: 10px 0;
}

.large-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 8px;
}

.submit-form {
  font-weight: bold;
  cursor: pointer;
  background-color: #4e6b31;
  color: #fff;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  transition: all 0.4s ease-in-out, transform 0.2s ease;
  margin: 10px auto;
  text-align: center;
  display: block;
  line-height: 50px;
}

.submit-form:hover {
  background-color: #b59958;
  transform: translateY(-2px);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center;
  padding: 20px;
  justify-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 400px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #4e6b31;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 1.2em;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1em;
  align-items: flex-start;
}

.card-body p {
  margin: 0;
}

.card-footer {
  background-color: #f9f9f9;
  padding: 15px;
  text-align: center;
}

.card-footer button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4e6b31;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out, transform 0.2s ease;
  font-size: 1em;
}

.card-footer button:hover {
  background-color: #b59958;
  transform: translateY(-2px);
}

.card .images img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 8px;
}

.large-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 8px;
}
