{% extends "logsApp/layout.html" %} {% block body %} {% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'logsApp/accidentsPageStyle.css' %}"
/>

<h2 class="cards-title">سجل الحوادث</h2>
<button class="nav-link-btn show-hide-btn" onclick="toggleAccidentForm()">
  إضافة حادث
</button>

<form
  class="fine-form addEventForm"
  method="POST"
  enctype="multipart/form-data"
  id="addEventForm"
  style="display: {% if form_open %}block{% else %}none{% endif %}; opacity: {% if form_open %}1{% else %}0{% endif %}; transition: opacity 0.5s ease-in-out;"
>
  {% csrf_token %}
  <label for="carNumber" class="form-label">رقم المركبة</label>
  <input
    class="input"
    type="text"
    id="carNumber"
    name="carNumber"
    value="{{ carNumber }}"
    required
  /><br />

  <label for="empNumber" class="form-label">رقم الموظف</label>
  <input
    class="input"
    type="text"
    id="empNumber"
    name="empNumber"
    value="{{ empNumber }}"
  /><br />

  <div class="msg-cont">
    {% if emp_err_message %}
    <div id="error-message-emp-not-exists" class="error-msg">
      {{ emp_err_message }}
    </div>
    <script>
      setTimeout(function () {
        fadeOutMessage("error-message-emp-not-exists");
      }, 7000);
    </script>
    {% endif %}
  </div>

  <label for="text" class="form-label">وصف الحادث</label>
  <textarea id="text" name="text" class="textarea">{{ text }}</textarea><br />

  <label for="reportPdfFile" class="form-label">تحميل تقرير (PDF)</label>
  <input
    type="file"
    id="reportPdfFile"
    name="reportPdfFile"
    accept="application/pdf"
    class="input-file"
    value="{{ reportPdfFile }}"
  /><br />

  <label for="licenseFiles" class="form-label"
    >تحميل رخصة القيادة (PDF أو صورة)</label
  >
  <input
    type="file"
    id="licenseFiles"
    name="licenseFiles"
    accept="application/pdf,image/*"
    multiple
    class="input-file"
  /><br />

  <label for="carPaperworkFile" class="form-label"
    >تحميل أوراق السيارة (PDF)</label
  >
  <input
    type="file"
    id="carPaperworkFile"
    name="carPaperworkFile"
    accept="application/pdf"
    class="input-file"
  /><br />

  <label for="images" class="form-label">تحميل الصور</label>
  <input
    type="file"
    id="images"
    name="images"
    accept="image/*"
    multiple
    class="input-file"
  /><br />

  <button class="submit-form" type="submit">تسجيل</button>
</form>

<div class="cards-container" style="direction: rtl">
  {% if fines %} {% for fine in fines %}
  <div class="card">
    <!-- prettier-ignore -->
    <div
      class="card-header"
      style="background-color: {% if fine.fixin_date %}green{% elif fine.report_pdf_file %}lightblue{% else %}red{% endif %};"
    >
      <p>
        {% if fine.fixin_date %} السيارة تم إصلاحها {% elif fine.report_pdf_file %} السيارة في انتظار الإصلاح {% else %} الشخص الذي تسبب في الحادث غير
        محدد {% endif %}
      </p>
    </div>
    <div class="card-body">
      <p><strong>رقم المركبه:</strong> {{ fine.car.carNumber }}</p>
      <p><strong>وصف الحادث:</strong> {{ fine.text }}</p>
      <p></p>
      <p></p>
      {% if fine.employees.all %}
      <p><strong>المتسبب في الحادث</strong></p>
      <ul>
        {% for emp in fine.employees.all %}
        <li>{{ emp.ceoName }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>المتسبب في الحادث: مجهول</p>
      {% endif %}
      <div class="images">
        {% for image in fine.images.all %}
        <img src="{{ image.image.url }}" alt="Fine Image" />
        {% endfor %}
      </div>
    </div>
    <div class="card-footer">
      <button onclick="location.href='{% url 'logsApp:carddetails' fine.id %}'">
        اظهار تفاصيل اكثر
      </button>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
</div>

{% endblock %}
