{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'logsApp/layout.css'%}" rel="stylesheet" />
    <link href="{% static 'logsApp/reg.css'%}" rel="stylesheet" />
    <link href="{% static 'logsApp/logs.css'%}" rel="stylesheet" />
    <link href="{% static 'logsApp/finesstyle.css'%}" rel="stylesheet" />
    <link
      href="{% static 'logsApp/accidentsPageStyle.css'%}"
      rel="stylesheet"
    />
    <script src="{% static 'logsApp/js/script.js' %}" defer></script>

    <title>Document</title>
  </head>
  <body>
    <header class="dd">
      <div class="header-cont">
        <div class="logo-cont">
          <img
            class="logo"
            src="{% static 'logsApp/imgs/sm-logo.png' %}"
            alt=""
          />
        </div>
        <div class="navs-cont">
          <ul class="nav-links">
            {% comment %}
            <li>
              <button
                class="nav-link-btn-unique"
                onclick="window.location='{% url 'logsApp:addNewEmp' %}'"
              >
                اضافة موظف جديد
              </button>
            </li>
            {% endcomment %}
            <li>
              <button
                class="nav-link-btn-unique"
                onclick="window.location='{% url 'logsApp:finec' %}'"
              >
                حصر المخالفات
              </button>
            </li>
            <li>
              <button
                class="nav-link-btn-unique"
                onclick="window.location='{% url 'logsApp:AccidentsRecords' %}'"
              >
                سجل المخالفات و الحوادث
              </button>
            </li>
            <li>
              <button
                class="nav-link-btn-unique"
                onclick="window.location='{% url 'logsApp:logslink' %}'"
              >
                سجل الاستلام والتسليم
              </button>
            </li>
            <li>
              <button
                class="nav-link-btn-unique"
                onclick="window.location='{% url 'logsApp:add' %}'"
              >
                استلام و ارجاع المركبه
              </button>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main>{% block body %} {% endblock %}</main>
    <footer class=""></footer>
  </body>
</html>
