{% extends "logsApp/layout.html" %} {% block body %}

<div class="logs-btns">
  {% comment %}
  <div class="dbtn-cont">
    <button
      class="nav-link-btn"
      onclick="window.location='{% url 'logsApp:export_to_excel' %}'"
    >
      تحميل السجل
    </button>
  </div>
  {% endcomment %}
  <h1 class="page-title">سجل الاستلام والتسليم</h1>
  <button class="nav-link-btn show-hide-btn" onclick="toggleFilters()">
    بحث
  </button>
</div>

<div class="filtersMain" id="filtersMain">
  <div class="filtersDw">
    <div class="filters-cont">
      <form
        class="filtersForm"
        action="{% url 'logsApp:logslink' %}"
        method="get"
      >
        {% csrf_token %}
        <div class="filter-cont">
          <div>
            <h1>بحث عن طريق</h1>
          </div>
          <div class="form-group">
            <label for="carNumbers" class="form-label"
              >رقــــــــم المركبه</label
            >
            <input
              type="text"
              id="carNumbers"
              name="carNumper"
              class="input"
              placeholder="ادخل رقم المركبه هنا "
            />
          </div>
          <div class="form-group">
            <label for="ceoN" class="form-label">الــــــرقم الاداري</label>
            <input
              type="text"
              name="ceoN"
              class="input"
              placeholder="ادخل الرقم الاداري هنا"
            />
          </div>
          <div class="form-group">
            <label for="dateType" class="form-label"> الــــتاريخ</label>
            <select
              id="dateType"
              name="dateType"
              class="input"
              onchange="toggleDateInput()"
            >
              <option value="day">يوم</option>
              <option value="month">شهر</option>
              <option value="year">سنة</option>
            </select>
          </div>
          <div class="form-group" id="dayInput">
            <label for="date" class="form-label">تاريخ استلام المركبه</label>
            <input type="date" id="date" name="date" class="input" />
          </div>
          <div class="form-group" id="monthInput" style="display: none">
            <label for="year" class="form-label">السنة</label>
            <select id="year" name="year" class="input">
              {% for year in years %}
              <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
            <label for="month" class="form-label">الشهر</label>
            <select id="month" name="month" class="input">
              <option value="1">يناير</option>
              <option value="2">فبراير</option>
              <option value="3">مارس</option>
              <option value="4">أبريل</option>
              <option value="5">مايو</option>
              <option value="6">يونيو</option>
              <option value="7">يوليو</option>
              <option value="8">أغسطس</option>
              <option value="9">سبتمبر</option>
              <option value="10">أكتوبر</option>
              <option value="11">نوفمبر</option>
              <option value="12">ديسمبر</option>
            </select>
          </div>
          <div class="form-group" id="yearInput" style="display: none">
            <label for="yearOnly" class="form-label">السنة</label>
            <select id="yearOnly" name="yearOnly" class="input">
              {% for year in years %}
              <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <input class="nav-link-btn" type="submit" value="بحث" />
      </form>
      <div>
        <form action="{% url 'logsApp:logslink' %}" method="get">
          {% csrf_token %}
          <input type="hidden" value="showall" id="showAll" name="showAll" />
          <input class="nav-link-btn" type="submit" value="اظهار كامل السجل " />
        </form>
      </div>
    </div>
  </div>
</div>

<div class="mainlog">
  <div class="table-container" id="tableContainer">
    <table>
      <thead>
        <tr class="headtr">
          <th>رقم السياره</th>
          <th>الرقم الاداري</th>
          <th>الاسم</th>
          <th>تاريخ الاستلام</th>
          <th>وقت الاستلام</th>
          <th>تاريخ التسليم</th>
          <th>وقت التسليم</th>
          <th>ملاحظات</th>
        </tr>
      </thead>
      <tbody>
        {% for k in page_obj %}
        <tr>
          <td>{{k.Logs_car_ins.carNumber}}</td>
          <td>{{k.Logs_employee_ins.ceoNumber}}</td>
          <td class="ceoNameS">{{k.Logs_employee_ins.ceoName}}</td>
          <td>{{k.created_at|date:"Y-m-d"}}</td>
          <td>{{k.created_at|date:"h:i A"}}</td>

          {% if k.return_date %}
          <td>{{k.return_date|date:"Y-m-d"}}</td>
          {% else %}
          <td></td>
          {% endif %} {% if k.return_time %}
          <td>{{k.return_time}}</td>
          {% else %}
          <td></td>
          {% endif %} {% if k.carNote %}
          <td class="logs_not_cell">{{k.carNote}}</td>
          {% else %}
          <td class="logs_not_cell"></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="pagination-container">
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>

{% endblock %}
