{% extends "logsApp/layout.html" %} {% block body %}
<div class="main">
  <h1>{{inUseErr}}</h1>

  <div class="inuseBorder">
    <div class="inUsCont">
      {% if l %}
      <div class="h1n"><h1>مركبات قيد الاستخدام</h1></div>
      {% for n in l %}
      <div class="car-details">
        <div class="details">
          <div class="info">
            <p class="info-p">اسم المستخدم: {{n.employee.ceoName}}</p>
            <p class="info-p">الرقم الاداري: {{n.employee.ceoNumber}}</p>
            <p>{{n.employee.section}}</p>
            <div class="car-plate">
              <p>{{n.car.carNumber}}</p>
              <p>رقم اللوحه</p>
            </div>
            <p>تاريخ و وقت الاستلام</p>
            <p class="created-at">{{ n.created_at|date:"Y-m-d / h:i A" }}</p>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div><h1>لاتوجد مركبات قيد الاستخدام</h1></div>
      {% endif %}
    </div>
  </div>

  <div class="forms-cont">
    <div class="regCont">
      <form
        action="{% url 'logsApp:add' %}"
        dir="rtl"
        method="post"
        class="full-width-form"
      >
        {% csrf_token %}
        <div class="input-cont full-size">
          <div class="full-size"><h2>لاستلام المركبه</h2></div>
          <label class="labels" for="ceoNumber">الرقم الاداري</label>
          <input
            class="inpute"
            type="text"
            name="ceoNumber"
            id="ceoNumber"
            value="{{ ceoNumber }}"
            required
            placeholder="مثال: 23945"
          />

          <div class="msg-cont">
            {% if empDoseNotEXISTS %}
            <div id="error-message-emp-not-exists" class="error-msg">
              {{ empDoseNotEXISTS }}
            </div>
            <script>
              setTimeout(function () {
                fadeOutMessage("error-message-emp-not-exists");
              }, 7000);
            </script>
            {% endif %}
          </div>

          <div class="msg-cont">
            {% if itsinuse %}
            <div id="error-message-emp-in-use" class="error-msg-empinuse">
              <div class="car-detailserr">
                <div class="details">
                  <div class="infoerr">
                    <div>
                      <p class="info-p">
                        تنبية: الرقم الاداري الذي أدخلته مستخدم حاليا
                      </p>
                    </div>
                    <p class="info-p">
                      اسم الموظف : {{itsinuse.Logs_employee_ins.ceoName}}
                    </p>
                    <p class="info-p">
                      الرقم الاداري: {{itsinuse.Logs_employee_ins.ceoNumber}}
                    </p>
                    <p>{{itsinuse.Logs_employee_ins.section}}</p>
                    <div class="car-plate">
                      <p>رقم اللوحه</p>
                      <p>{{itsinuse.Logs_car_ins.carNumber}}</p>
                    </div>
                    <p>تاريخ و وقت الاستلام</p>
                    <p class="created-at">
                      {{ itsinuse.created_at|date:"Y-m-d / h:i A" }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <script>
              setTimeout(function () {
                fadeOutMessage("error-message-emp-in-use");
              }, 10000);
            </script>
            {% elif carIsInUse %}
            <div id="error-message-car-in-use" class="error-msg-empinuse">
              <div class="car-detailserr">
                <div class="details">
                  <div class="infoerr">
                    <div>
                      <p class="info-p">المركبه مسجله من قبل</p>
                    </div>
                    <p class="info-p">
                      الاسم : {{carIsInUse.Logs_employee_ins.ceoName}}
                    </p>
                    <p class="info-p">
                      الرقم الاداري: {{carIsInUse.Logs_employee_ins.ceoNumber}}
                    </p>
                    <p>{{carIsInUse.Logs_employee_ins.section}}</p>
                    <div class="car-plate">
                      <p>رقم اللوحه</p>
                      <p>{{carIsInUse.Logs_car_ins.carNumber}}</p>
                    </div>
                    <p>تاريخ و وقت الاستلام</p>
                    <p class="created-at">
                      {{ carIsInUse.created_at|date:"Y-m-d / h:i A" }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <script>
              setTimeout(function () {
                fadeOutMessage("error-message-car-in-use");
              }, 10000);
            </script>

            {% endif %}
          </div>

          {% if EmpMErr %}
          <h3>{{EmpMErr}}</h3>
          {% endif %} {% if InUseCar_exists %}
          <h3>{{InUseCar_exists}}</h3>
          {% endif %}
        </div>

        <div class="input-cont full-size">
          <label class="labels" for="carNumber">رقم السياره</label>
          <input
            class="inpute"
            type="text"
            name="carNumber"
            id="carNumber"
            value="{{ carNumber }}"
            placeholder="1-46793"
            required
          />

          <div class="msg-cont">
            {% if carDNE %}
            <div id="error-message-car-not-exists" class="error-msg">
              {{carDNE}}
            </div>
            <script>
              setTimeout(function () {
                fadeOutMessage("error-message-car-not-exists");
              }, 7000);
            </script>
            {% endif %}
          </div>

          <input class="submit-btn" type="submit" value="تسجيل المركبه" />

          <div class="msg-cont">
            {% if sucssuMessge %}
            <div id="success-message-registration" class="success-msg">
              {{sucssuMessge}}
            </div>
            <script>
              setTimeout(function () {
                fadeOutMessage("success-message-registration");
              }, 7000);
            </script>
            {% endif %}
          </div>
        </div>
      </form>
    </div>

    <div class="regCont">
      <form
        action="{% url 'logsApp:ret' %}"
        dir="rtl"
        method="post"
        class="full-width-form"
      >
        {% csrf_token %}
        <div class="input-cont full-size">
          <div class="full-size">
            <h2>لإعادة المركبه</h2>
          </div>
          <label class="labels" for="ceonumber"> الرقم الاداري </label>
          <input
            class="inpute"
            type="number"
            name="ceonumber"
            id="ceonumber"
            value="{{ ceonumber }}"
          />
          <div class="msg-cont">
            {% if retErrm %}
            <div id="error-message-return-emp-not-exists" class="error-msg">
              {{retErrm}}
            </div>
            <script>
              setTimeout(function () {
                fadeOutMessage("error-message-return-emp-not-exists");
              }, 7000);
            </script>
            {% endif %}
          </div>
        </div>

        <div class="input-cont full-size">
          <label class="labels" for="note">ملاحظه على السياره</label>
          <input
            class="inpute"
            type="text"
            id="note"
            name="empnote"
            value="{{ empnote }}"
          />

          <div class="msg-cont">
            {% if retCarErr %}
            <div id="error-message-return-car-not-exists" class="error-msg">
              {{retCarErr}}
            </div>
            <script>
              setTimeout(function () {
                fadeOutMessage("error-message-return-car-not-exists");
              }, 7000);
            </script>
            {% endif %}
          </div>

          <input class="submit-btn" type="submit" value="إعادة المركبه" />

          <div class="msg-cont">
            {% if retSucssM %}
            <div id="success-message-return" class="success-msg">
              {{retSucssM}}
            </div>
            <script>
              setTimeout(function () {
                fadeOutMessage("success-message-return");
              }, 7000);
            </script>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
